*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c{
    height: 50px;width: 105px;
    border-radius:10px ;border: none;
    background-color: bisque;
}
.rv{
    border-radius:100% ;width: 50px;
    height: 50px;border: none;
}
.row{
    display: flex;margin-top: 5px;
    gap: 5px;
}
.whole{
    background-color: black;border-radius: 10px;
    padding: 22px;
}
input{
    width: 210px;
    background-color: transparent;border: none;color: white;
    margin-top: 60px;font-size: 30px;
    outline: none;
}
.yellow{
    background-color: rgb(245, 141, 5);
}