.containers{
    display: grid;grid-template-columns:repeat(5,1fr) ;
    gap: 10px;

}
.card{
    width: 100%;

}
img{
    width: 100%;height: 100%;
}
.name_Post{
    display: flex;justify-content: space-between;

}
.Name{
    font-weight: bold;
}
.position{
    font-size: 12px;
}