body{
    display: flex;flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url("https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg");background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.loremIpsum{
    font-size: 15px;margin-top: 20px;
}
.box{
    width: 100%;height: 100%;
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
}
.model-content{
    position: absolute;
    width: 400px;
    background: white;
    padding: 10px;font-size: 30px;
    z-index: 1005;
}
.close{
    display: flex;justify-content: space-between;
}
.x{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;background-color: transparent;border: none;
    
}